<ul>
  <li>
    <button (click)="onChange(1)" [class.selected]="getRate()>=1">
      <ion-icon name="star-outline"></ion-icon>
    </button>
  </li>
  <li>
    <button (click)="onChange(2)" [class.selected]="getRate()>=2">
      <ion-icon name="star-outline"></ion-icon>
    </button>
  </li>
  <li>
    <button (click)="onChange(3)" [class.selected]="getRate()>=3">
      <ion-icon name="star-outline"></ion-icon>
    </button>
  </li>
  <li>
    <button (click)="onChange(4)" [class.selected]="getRate()>=4">
      <ion-icon name="star-outline"></ion-icon>
    </button>
  </li>
  <li>
    <button (click)="onChange(5)" [class.selected]="getRate()>=5">
      <ion-icon name="star-outline"></ion-icon>
    </button>
  </li>
</ul>
